

.about {
    min-height: 40rem;
    background-color: white;
}

.about h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    margin-right: 300px;    
    font-size: 100px;
    color: #9a9a9b;
}

.about h4{
    text-align: center;
    margin-bottom: 0;
    color: #333;
}

.about h5 {
    text-align: center;
    color: #6a6b6c;
}