.cart-product {
    border: 1px solid #cfd1d1;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    margin-bottom: 10px;
    background-color: white;
    align-items: center;
}

.cart-product img {
    height: 60px;
}

.cart-product .desc {
    flex: 4;
    text-align: left;
    margin-left: 10px;
}

.cart-product label {
    flex: 1;
}

.cart-product button {
    width: 40px;
}

.cart-product .lbl-total {
    font-weight: bold;
}